@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li{
        @apply px-4;
        @apply cursor-pointer
    }
}


.line {
    content: "";
    display: inline-block;
    margin-bottom: 6px;
    align-items: center;
    width: 22px;
    height: 2px;
    margin-left: 7px;
    background-color: #D5A82C;
}

.underL {
    position: relative;
    -webkit-transition: color 0.3s;
   
}


.underL::after{
    content: "";
    position: absolute;
    background-color: #D5A82C;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.underL:hover::after{
    width: 100%;
}

.underL:hover{
    color:white
    
}

.top {
    box-shadow: 0 -5px 5px -5px rgb(0, 0, 0);
}